*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: arial, helvetica;
    color: antiquewhite;
    background-color: black;
}
header
{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 20px 60px;
}
.logo img
 {
    margin-right: 10px;
 }
 nav ul 
 {
    display: flex;
    list-style: none;
    gap: 30px;
 }
 nav ul li a
  {
    text-decoration: none;
    color: antiquewhite;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: green;
  }
   .first
   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
   }
   .text h1
   {
     font-size: 50px;
     margin-bottom: 20px;
   }
   .text p
    {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .image img
     {
        width: 400px;
        height: auto;
     }
     .main h2
      {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
      }
       .main p
      {
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;
        padding: 20px;
      }
      .second 
     {
        text-align: center;
        padding: 20px;
     }
     .second h3
     {
        font-size: 30px;
        margin-bottom: 40px;
     }
     .cards 
     {
        display: flex;
        justify-content: center;
        gap: 100px;
     }
     .card 
     {
        text-align: center;
     }
     fieldset 
     {
        width: 250px;
        border: 3px solid green;
        color: green;
     }
     .box 
     {
        margin-left: 20px;
     }
     .red 
     {
    text-decoration: none;
    color: antiquewhite;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: green;
    margin-bottom: 20px;
    }
    .blue
     {
    text-decoration: none;
    color: antiquewhite;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: green;
    margin-left: 8px;
     }